.digital-clock{
    border: 1px solid black;
    border-radius: 10;
    padding: 10px;
margin-top: 200px;
margin-left: 100px;
margin-right: 100px;
margin-bottom: 200px;
}

span{
    color: black;
    font-weight: bolder;
    font-size: 40px;
    padding: 10px;
}